{% extends 'dashboard/base.html' %}
{% load static %}
{% block main-content %}

<section class="passresetsec">

<div class="container">
 <div class="row my-3">
  <div class="col-sm-6 offset-sm-3">
   <h3>Reset Password</h3>
    {% if user.is_authenticated %}
                {% include "account/already_logged_in.html" %}
            {% endif %}
            
            <form id="password_reset" class="signin-form" method="post" action="{% url 'account_reset_password' %}">
                {% csrf_token %}
                <div class="one-frm">
                    <label for="inputEmail4" class="form-label">Enter Email: </label> <br>
                    <input id="email" name="email" type="email" class="form-control" required>
                </div>

                <div class="mb-3">
                    <small class="text-danger">{{form.errors|striptags}}</small>
                </div>
            
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}

                <div class="container-login100-form-btn mt-4">
                    <input class="btn btn-style" type="submit" value="Submit"></input>
                </div>
            </form>
  </div>
 </div>
</div>


</section>
{% endblock main-content %}