{% extends 'dashboard/base.html' %}
{% load static %}
{% block main-content %}


<section class="w3l-workinghny-form">
  
        <div class="workinghny-form-grid">
            <div class="wrapper">
                <div class="logo">
                    <h1>Sign Up</h1>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6 main_left">
                        <div class="workinghny-left-img">
                            <img src="{% static 'dashboard/images/sizemini.jpg' %}" class="img-responsive mb-5" alt="img" />
                        </div>    
                    </div>
                    <div class="col-12 col-md-6">
						
                        <div class="login-form-content">
                            <form action="{% url 'account_signup' %}" class="signin-form" method="post">
                                {% csrf_token %}
								                  <div class="one-frm">
                                    <label for="inputEmail4" class="form-label">Username</label>
                                    <input type="text" name="username" required>
								                  </div>

                                  <div class="">
                                    <small class="text-danger">{{form.errors.username|striptags}}</small>
                                  </div>

                                  <div class="one-frm">
                                    <label for="inputEmail4" class="form-label">Email</label>
                                    <input type="text" name="email" required>
								                  </div>

                                  <div class="">
                                    <small class="text-danger">{{form.errors.email|striptags}}</small>
                                  </div>

                                  <div class="one-frm">
                                    <label for="inputPassword1" class="form-label">Password</label>
                                    <input id="password1" type="password" name="password1" required>
                                  </div>
                                  <div class="one-frm">
                                    <label for="inputPassword1" class="form-label">Confirm Password</label>
                                    <input id="password1" type="password" name="password2" required>
                                  </div>

                                  {% if not form.errors.username and not form.errors.email %}
                                  <div class="mb-3">
                                    <small class="text-danger">{{form.errors.password1|striptags}}</small>
                                    <small class="text-danger">{{form.errors.password2|striptags}}</small>
                                  </div>
                                  {% endif %}

                                <button type="submit" class="btn btn-style">Sign Up </button>
                                <p class="already">Already have an account? <a href="{% url 'account_login' %}">Login</a></p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </section>



{% endblock main-content %}

